* {
    box-sizing: border-box;
  }

h1{
    text-align: center;
    font-size: 1.75em;
}

h2{
    border: 1px solid black;
    text-align: right;
    text-align: right;
    background-size: contain;
    margin-top: 0px;
    margin-left: 75%;
    padding: 1%;
    font-size: 1.25em;
}


section{
    border: 1px solid black;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

p{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 2%;
    font-size: 1em;
}

#sec1{
    background-color: #a9a9a9;
}

#sec2{
    background-color: #a9a9a9;
}

#sec3{
    background-color: #a9a9a9;
}

#sec1 > h2{
    background-color: #e6667e;
}
#sec2 > h2{
    background-color:#07ffd4;
}
#sec3 > h2{
    background-color:#6495ed;
}

/*** Desktop version ***/
@media (min-width:  992px){
    .desktop{
        width: 31.33%;
        float: left;
        margin: 1%;
    }
}

/*** Tablet ***/
@media (min-width: 768px) and (max-width: 991px) {
    .tablet1{
        width: 48%;
        float: left;
        margin: 1%;
    } 
    .tablet2{
        width: 98%;
        float: left;
        margin: 1%;
    }    
}

/*** Mobile ***/
@media (max-width: 767px) {
    .mobile{
        width: 100%;
        float: left;
        margin-bottom: 1%;
    }
}
